*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 70px;
  line-height: 1.4;
  color: var(--white-color);
}

h1 {
  margin-top: 5rem;
}

p {
  font-family: var(--para-font);
  color: var(--white-color);
  font-size: 24px;
  font-weight: lighter;
  margin-top: 2rem;
}

:root {
  /* Colors */
  --pink-color: #da498d;
  --green-color: #00ffbb;
  --black-color: #0f0616;
  --grey-color: #d9d9d9;
  --dark-color: #2f2f2f;
  --white-color: #fff;
  --purple-color: #9747ff;

  /* Fonts */
  --heading-font: "Poppins", sans-serif;
  --para-font: "Montserrat", sans-serif;
}
html,
body {
  line-height: 1.6;
  background-color: var(--black-color);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* bg class */
.bg_pink {
  background-color: var(--pink-color);
  color: var(--white-color);
}

.bg_green {
  color: var(--dark-color);
  background-color: var(--green-color);
}

.bg_white {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.bg_black {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.color_black {
  color: var(--dark-color);
}

.color_white {
  color: var(--white-color);
}
/* btn */
.btn {
  margin-top: 3rem;
  padding: 10px 50px;
  font-size: 24px;
  text-decoration: none;
  border: none;
  list-style: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  background-color: var(--purple-color);
  color: var(--white-color);
}

/* section */
.section {
  margin-top: 10rem;
  text-align: center;
}

/* skill card image */
.skill_img {
  display: block;
  width: 100%;
  height: 100%;
}

.skill2_img {
  display: block;
  width: 60%;
  height: 100%;
  /* margin-right: 5rem; */
}

.skill3_img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Navbar */
.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

.container_sm {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  cursor: pointer;
  margin-bottom: 3rem;
}

.navbar li a {
  font-size: 18px;
  font-family: var(--para-font);
  color: var(--white-color);
  transition: all 0.1s ease;
}

.navbar li a:hover {
  color: var(--purple-color);
}

/* Active class for app.js */
.navbar li a.active {
  color: var(--purple-color);
  font-weight: bold;
  text-decoration: underline;
}

/* Hero Section */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hero_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero_1 {
  padding: 10px;
}
.hero_1 p {
  font-size: 24px;
  font-family: var(--para-font);
  color: var(--white-color);
}

.hero_1 h1 {
  font-size: 75px;
  font-weight: 700;
  color: var(--white-color);
}

.green {
  color: var(--green-color);
}

.hero_flex .hero_2 .img {
  display: block;
  width: 500px;
  height: 100%;
  /* filter: grayscale(100%) contrast(150%); */
}

.btn a {
  color: #fff;
  text-decoration: none;
  font-family: var(--heading-font);
  font-weight: lighter;
}

/* skills section */

.skills_flex {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.skills_1 h3 {
  font-size: 40px;
  /* margin-bottom: 2rem; */
  color: var(--white-color);
  font-weight: 300;
}

.skills_1 .para {
  font-family: var(--para-font);
  color: var(--white-color);
  font-size: 24px;
  font-weight: lighter;
}

.skills_1 .btn {
  background-color: var(--green-color);
  color: var(--dark-color);
  padding: 10px 50px;
  border: none;
  font-size: 24px;
  font-family: var(--heading-font);
  font-weight: lighter;
  /* margin: 2rem 0; */
  cursor: pointer;
  transition: all 0.1s ease;
}

.skills_1 .btn:hover {
  background-color: var(--purple-color);
  color: var(--white-color);
}

.skills_2 img {
  width: 600px;
  height: 300px;
}

/* Projects */

.cards-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 10rem;
}
.card {
  /* background-color: var(--grey-color); */
  border: none;
  transition: all 0.4s ease-in-out;
  overflow: hidden;

  /* Initial size */
  text-align: center;
  padding: 3rem;
  margin-bottom: 1.3rem;
  /* border-radius: 10px; */
  transition: box-shadow 0.1s ease-in-out;
}

.hidden-content {
  display: none; /* Initially hidden */
  margin-top: 10px;
}

.hidden-content span a {
  color: rgb(44, 126, 159);
  font-weight: 800;
  cursor: pointer;
  text-decoration: underline;
}
.card.active {
  grid-column: span 3; /* Expand to full width of grid */
  width: 100%;
  height: 100%; /* Ensure full width */
  transition: all 0.3s ease-in-out;
}

.card.active .hidden-content {
  display: block; /* Show hidden content */
}

.card:hover {
  box-shadow: 4px 4px 50px var(--purple-color);
  transform: scale(1.03);
}

.card:nth-child(3) {
  background-color: var(--pink-color);
  color: var(--white-color);

  .hidden-content p {
    color: var(--white-color);
  }
}
.card:nth-child(4) {
  background-color: var(--green-color);
  color: var(--white-color);
  .hidden-content p {
    color: var(--dark-color);
  }
}
.card:nth-child(2) {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.card:nth-child(6) {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.card:nth-child(1) {
  background-color: var(--grey-color);
  color: var(--dark-color);
  .hidden-content p {
    color: var(--dark-color);
  }
}
.card:nth-child(5) {
  background-color: var(--grey-color);
  color: var(--dark-color);
  .hidden-content p {
    color: var(--dark-color);
  }
}

.card h3 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 1.2rem;
}

.card p {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  font-weight: 300;
}

/* coding section */

.coding-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* text-align: center; */
}

.coding-content h3 {
  font-size: 2rem;
  font-weight: 400;
}

.coding-content p {
  font-size: 22px;
}

/* About me */
.aboutme {
  width: 100%;
}
.aboutme h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

/* Contact me */
.footer-flex {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
  margin-top: 5rem;
}

/* Input form */

form {
  background: transparent; /* Dark background */
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  /* max-width: 800px; */
  display: flex;
  flex-direction: column;
}

.form input,
textarea {
  width: 100%;
  font-family: monospace;
  margin-bottom: 5px;
  padding: 15px;
  color: var(--white-color);
  font-size: 18px;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: 1px solid #555;
  background-color: var(--dark-color);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #00ff99; /* Neon green focus */
  box-shadow: 0 0 8px rgba(0, 255, 153, 0.8);
  background: #444; /* Slightly lighter background */
}

textarea {
  width: 100%;
  height: 200px;
}

.social-flex {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.social-flex i {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.social-flex i:hover {
  color: var(--purple-color);
}

.footer-content img {
  width: 40%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 100%;
}

.footer-rights {
  text-align: center;
  font-size: 18px;
  margin: 5rem;
}

/* Media Queries */

@media (max-width: 1200px) {
  .card.active {
    width: auto;
  }
}

@media (max-width: 992px) {
  .navbar {
    display: block;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .navbar li {
    padding: 1rem;
  }
  .hero-flex {
    display: block;
    flex-direction: column;
  }

  .skills_flex {
    text-align: center;
  }
  .cards-flex {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 5rem;
  }
  .card.active {
    width: auto;
  }

  .about-coding {
    display: block;
    margin: 3rem;
  }

  .about-flex {
    display: block;
  }

  .aboutme-img .skill3_img {
    width: 100%;
    height: 100%;
  }

  .footer-rights p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .hero_flex {
    display: block;
    text-align: center;
    margin-top: 3rem;
  }

  .hero_flex .heading_1 {
    font-size: 40px;
  }

  .heading_1 {
    font-size: 45px;
    margin-bottom: 2rem;
  }

  .hero_flex .hero_2 .img {
    display: block;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100%;
  }

  /* skills section */
  .skills_flex {
    display: block;
    gap: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }

  .skills_h1 .heading_1 {
    text-align: center;
    font-size: 45px;
  }

  .skills_1 .para {
    margin-bottom: 2rem;
  }

  .skills_2 img {
    width: 400px;
    height: 200px;
  }

  /* cards */
  .cards-flex {
    display: block;
    align-items: center;
    margin-bottom: 3rem;
    gap: 2rem;
  }

  .card {
    margin: 4rem;
    padding: 4rem;
  }

  /* Form section */
  .footer-flex {
    display: block;
    margin: 4rem;
  }

  /* form */
  form {
    width: 100%;
  }

  /* cards */
  .skill_img {
    width: 120%;
    height: 200%;
  }

  .skill2_img {
    width: 200%;
    height: 100%;
  }

  .skill3_img {
    width: 100%;
    height: 100%;
  }

  .coding-container {
    display: block;
  }

  .coding-content {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .cards-flex {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .card {
    padding: 2rem;
    margin: 2rem;
  }
  .card h3 {
    font-size: 2rem;
  }

  .card.active {
    width: auto;
  }

  .card p {
    font-size: 1rem;
  }

  .about-coding h3 {
    font-size: 24px;
  }

  .about-coding p {
    font-size: 16px;
  }

  .about-coding img {
    width: 300px;
    height: 150px;
  }

  .aboutme-img img {
    width: 60%;
    height: 100px;
  }

  .skill2_img {
    width: 100%;
    height: 100%;
  }
}
